.mazeHead {
    margin-top: 20vh;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}

.mazeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Extra {
    text-align: center;
    margin-bottom: 15px;
    font-size: smaller;
}

.curStatus {
    margin-top: 10px;
    text-align: center;
    font-size: small;
}